<div id="contact" class="absolute bottom-6 left-6">
	<div id="linkedin" class="flex gap-4">
		<img src="assets/img/linkedin_logo.png" alt="linkedin_logo" class="w-6 h-6">
		<p class="mb-2">Linkedin</p>
	</div>
	<div id="github" class="flex gap-4">
		<img src="assets/img/github_logo.svg" alt="github_logo" class="w-6 h-6">
		<p class="mb-2">Github</p>
	</div>
	<div id="gmail" class="flex gap-4">
		<img src="assets/img/gmail_logo.svg" alt="gmail_logo" class="w-6 h-6">
		<p class="mb-2">Gmail</p>
	</div>
</div>