<div id="screen" class="screen-style">
	<div id="identity" class="identity-style">
		<div id="name" class="text-2xl">
			<p id="firstname">Alex</p>
			<p id="lastname">Carlotti</p>
		</div>
		<p id="job" class="text-base">Junior Software engineer</p>
	</div>
	<div id="menu" class="menu-style">
		<p >Projects</p>
		<p>About</p>
	</div>
	<div id="language" class="absolute flex gap-4 right-0 pr-6 pt-6">
		<label class="inline-flex items-center mb-5 cursor-pointer">
			<input type="checkbox" value="" class="sr-only peer">
			<span class="mr-3">EN</span>
			<div class="relative w-11 h-6 bg-custom-cyan/80 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-kingpong3 after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-kingpong3 after:border-kingpong3 after:border after:rounded-full after:h-5 after:w-5 after:transition-all"></div>
		  </label>
	</div>
</div>
